.hero-body-box {
  width: 467px;
  height: 483px;
}
.button-Submit {
  height: 50px !important;
}
.subtitle {
  color: #484848 !important;
}
.top-subtitle {
  color: #484848 !important;
  font-weight: 700 !important;
}
