* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-y: hidden;
  overflow-x: hidden;
}
//                  CARD-1
.card-1 {
  max-width: 400px !important;
  border-radius: 10px;
}
@media (max-width: 750px) {
  .card-1-content {
    padding: 5px 5px 5px 10px !important;
  }
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
@media only screen and (max-width: 768px) {
  .card-1 {
    // max-width: 50vw !important;
    max-width: 40% !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22) !important;
  }
}
//                  CARD-2
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.card-2 {
  width: 259px;
  height: 319px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  color: white;

  p {
    text-align: center;
  }
}
.card-2:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
@media (max-width: 786px) {
  .card-2 {
    max-width: 180px !important;
    max-height: 240px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22) !important;
  }
}

.para-container-card-2 {
  margin-top: 80%;
}
.line-1,
.line-2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700 !important;
}

//              JUMBOTRON
.hero {
  background-image: url("https://images.unsplash.com/photo-1469827160215-9d29e96e72f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.is-active {
  background: transparent !important;
}
.navbar-item {
  background: transparent !important;
  font-weight: 500;
  color: white !important;
}

a.navbar-item:hover {
  border-bottom: 3px solid white !important;
}
.hero-body {
  position: relative;
  left: 4%;
  top: -10%;
}
.navbar {
  min-height: 78px;
}
.nav-container {
  max-width: 100% !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
}
@media (max-width: 768px) {
  .navbar-burger {
    margin-left: 50% !important;
    color: white !important;
  }
}
//   QUICKBOOKING MENU
.select.is-medium {
  font-size: 1rem !important;
}
.hero-body-box {
  width: 467px;

  height: 100%;
  min-height: 390px;
}
.button-Submit {
  height: 50px !important;
}
#subtitle-book {
  color: #484848;
}
.top-subtitle {
  color: #484848 !important;
  font-weight: 700 !important;
}
.error-icon-container {
  padding: 0px;
  background-color: red;
}

@media (max-width: 768px) {
  .hero-body-box {
    max-width: 90%;
  }
  .booking-subtitle {
    margin-right: 5%;
    font-weight: 500 !important;
    text-align: left;
  }
  .hero-body-box {
    width: 467px;
    height: 85%;
    margin-top: 30%;
  }
  .hero {
    padding: 0px;
    max-height: 600px;
  }
  .book-input {
    max-height: 35px !important;
  }
  .button-Submit {
    max-height: 40px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}
// error message
.message {
  margin: 0 5%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.error-message-body {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  height: 100%;
}
.has-text-warning {
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
  flex: 1;
}
.error-text {
  margin-left: 20px;
  flex: 10;
  text-align: center;
}
.cross {
  flex: 1;
  margin-top: auto;
  margin-bottom: auto;
}
// Landscape Image
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.hero-image {
  color: white !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  p {
    text-align: center;
  }
}

.hero-subtitle {
  color: white !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700 !important;
}
.hero-title {
  color: white !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700 !important;
}
// Button

.button-Submit {
  height: 50px !important;
}
